
<div class="contenedor">
    <div>
        <h1>Para realizar una puja:</h1>
        <p>Debe ingresar en el siguiente cuadro de texto su<br />
        nombre de usuario, el valor que desea pujar y su<br />
        código. ¡Usted puede realizar más de una puja!</p>

    </div>

    <div>

        <h2>Para ser candidato debe seguir estas reglas:</h2>
        <p>1. Su nombre debe iniciar obligatoriamente con una<br />
        letra, seguidamente puede optar por una sucesión<br />
        de letras, dígitos o símbolos de subrayado (_)<br />
        2. El valor solo puede contener una única cifra<br />
        decimal. Ejemplo: 0.5 ó 0.0<br />
        3. El código comienza por el símbolo de tanto por<br />
        ciento (%) al que le siguen tres letras o un<br />
        múltiplo de tres letras (pero nunca espacios). </p>
    </div>
</div>
        



